@use '../variables/content-size' as content-size;
@use '../variables/color' as color;

@keyframes expand-in-keyframe {
  0% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    opacity: 1;
  }
}

@mixin expand-in($delay: 100ms) {
  opacity: 0;
  animation-name: expand-in-keyframe;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-delay: $delay;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes dripping {
  0% {
    transform: scale(1, 0);
  }
  20% {
    transform: scale(1, 1);
  }
  40% {
    top: 0;
    height: 0;
  }
  100% {
    top: 0;
    height: 0;
    transform: scale(1, 1);
  }
}

@mixin dripping {
  transition-timing-function: ease-in-out;
  transform: scale(1, 0);
  animation-name: dripping;
  animation-duration: 2400ms;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin fadein($delay: 100ms) {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-delay: $delay;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@mixin blind-fold {
  clip-path: inset(0 100% 0 0);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 1000ms;
  transition-property: clip-path;
  animation-delay: 100ms;

  &[data-intersected='true'] {
    clip-path: inset(0 0 0 0);
  }
}
