@use '../variables/color' as color;
@use '../variables/font' as font;
@use '../variables/content-size' as content-size;

.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: content-size.$content-width;
  margin: 16px 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 8px;

    li {
      line-height: 1;
    }
  }

  li + li::before {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    font-size: font.$notice-size;
    color: color.$blue;
    content: '＞';
  }

  a {
    font-size: font.$notice-size;
    color: color.$anchor-text;
    text-decoration: none;
  }
}

@media screen and (max-width: content-size.$breakpoint) {
  .breadcrumb {
    width: content-size.$content-width-sp;
    margin: 8px 0;

    a {
      font-size: font.$paragraph-sp-size;
    }
  }
}
