@use '../variables/color' as color;
@use '../variables/font' as font;

@mixin base() {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 60px;
  color: color.$white;
  text-decoration: none;
  border-radius: 12px;

  &:hover {
    opacity: .8;
  }
}