@use '../variables/color' as color;
@use '../variables/font' as font;
@use '../variables/content-size' as content-size;

@mixin h1($color: color.$base-text) {
  color: $color;
  font-family: font.$heading-font-family;
  font-size: font.$heading1-size;
  line-height: font.$heading-line-height;

  @media screen and (max-width: content-size.$breakpoint) {
    font-size: font.$heading1-sp-size;
  }
}

@mixin h2($color: color.$base-text) {
  color: $color;
  font-family: font.$heading-font-family;
  font-size: font.$heading2-size;
  line-height: font.$heading-line-height;

  @media screen and (max-width: content-size.$breakpoint) {
    font-size: font.$heading2-sp-size;
  }
}

@mixin h3($color: color.$base-text) {
  color: $color;
  font-family: font.$heading-font-family;
  font-size: font.$heading3-size;
  line-height: font.$heading-line-height;

  @media screen and (max-width: content-size.$breakpoint) {
    font-size: font.$heading3-sp-size;
  }
}

@mixin zone-h1($color: color.$base-text) {
  color: $color;
  font-family: font.$zone-font-family;
  font-size: font.$zone-heading1-size;
  line-height: font.$heading-line-height;

  @media screen and (max-width: content-size.$breakpoint) {
    font-size: font.$zone-heading1-size-sp;
  }
}

@mixin zone-anchor($color: color.$base-text) {
  color: $color;
  font-family: font.$heading-font-family;
  font-size: font.$zone-anchor-size;
  line-height: font.$heading-line-height;

  @media screen and (max-width: content-size.$breakpoint) {
    font-size: font.$zone-anchor-size-sp;
  }
}

@mixin top-news-heading($color: color.$gold) {
  color: $color;
  font-family: font.$heading-font-family;
  font-size: font.$top-news-heading-size;
  line-height: font.$heading-line-height;

  @media screen and (max-width: content-size.$breakpoint) {
    font-size: font.$top-news-heading-size-sp;
  }
}

@mixin add-border {
  display: flex;
  align-items: center;
  width: 100%;

  &::before,
  &::after {
    flex-grow: 1;
    content: "";
    height: 1px;
    background-color: color.$blue;
  }

  &::before { margin-right: 72px; }
  &::after { margin-left: 72px; }

  @media screen and (max-width: content-size.$breakpoint) {
    flex-direction: column;

    &::before { display: none; }
    &::after {
      margin: 24px 0 0;
      width: 60px;
    }
  }
}

@mixin add-box($height: 20px) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  &::before {
    display: block;
    content: "";
    flex-shrink: 0;
    height: $height;
    width: 8px;
    background-color: color.$blue;
  }
}