@use '../variables/color' as color;
@use '../variables/font' as font;
@use '../variables/content-size' as content-size;

.wp-pagenavi {
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 100%;
  margin: 40px 0;

  .pages,
  .extend {
    display: none;
  }

  .current,
  .nextpostslink,
  .previouspostslink,
  .page,
  .first,
  .last {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
  }

  .current {
    color: color.$white;
    background-color: color.$blue;
  }

  .page,
  .first,
  .nextpostslink,
  .previouspostslink,
  .last {
    box-sizing: border-box;
    color: color.$blue;
    background-color: color.$white;
    border: color.$blue solid 1px;
  }
}

.article_pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  a {
    padding: 8px 16px;
    font-size: font.$paragraph-size;
    color: color.$blue;
    text-decoration: none;
    border-radius: 8px;

    &:hover {
      background-color: color.$light-blue;
    }
  }
}

@media screen and (max-width: content-size.$breakpoint) {
  .article_pagination {
    a {
      font-size: font.$paragraph-sp-size;
    }
  }
}
