@use '../variables/color' as color;
@use '../variables/font' as font;
@use '../variables/content-size' as content-size;

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: color.$footer-lower-part-background;
}

.site-footer_navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: content-size.$site-width;
  background-color: color.$footer-upper-part-background;

  @media screen and (max-width: content-size.$breakpoint) {
    min-width: auto;
  }
}

.site-footer .global-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  li {
    width: 25%;
    height: 160px;
    transition: all 0.1s ease;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    &.structure-facilities {
      background-image: url('../images/common/footer/navigation/structure-facilities.jpg');
    }
    &.common-facilities {
      background-image: url('../images/common/footer/navigation/common-facilities.jpg');
    }
    &.management-association {
      background-image: url('../images/common/footer/navigation/management-association.jpg');
    }
    &.disaster-prevention {
      background-image: url('../images/common/footer/navigation/disaster-prevention.jpg');
    }
    &.news {
      background-image: url('../images/common/footer/navigation/news.jpg');
    }
    &.imagination-land {
      background-image: url('../images/common/footer/navigation/imagination-land.jpg');
    }
    &.gallery-cg {
      background-image: url('../images/common/footer/navigation/gallery.jpg');
    }
    &.links {
      background-image: url('../images/common/footer/navigation/links.jpg');
    }

    @media screen and (max-width: content-size.$breakpoint) {
      background-size: 100% auto;
    }

    &:hover {
      background-size: 105%;

      @media screen and (max-width: content-size.$breakpoint) {
        background-size: 105% auto;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: color.$footer-text;
      font-family: font.$heading-font-family;
      font-size: font.$footer-nav-size;
      text-decoration: none;
    }
  }

  @media screen and (max-width: content-size.$breakpoint) {
    li {
      width: 50%;
      height: 100px;

      a {
        font-size: font.$footer-nav-sp-size;
      }
    }
  }
}

.site-footer_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 32px 0;
  background-color: color.$footer-upper-part-background;

  @media screen and (max-width: content-size.$breakpoint) {
    img {
      width: 200px;
      height: 86px;
    }
  }
}

.site-footer_banner-area {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 32px 0;

  @media screen and (max-width: content-size.$breakpoint) {
    a img {
      width: 150px;
      height: 50px;
    }
  }
}

.site-footer_copyright {
  padding-bottom: 32px;
  font-family: font.$heading-font-family;
  font-size: font.$footer-copyright-size;
  color: color.$footer-text;

  @media screen and (max-width: content-size.$breakpoint) {
    font-size: font.$footer-copyright-sp-size;
  }
}
