@use '../variables/color' as color;
@use '../variables/font' as font;
@use '../variables/content-size' as content-size;

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: color.$footer-bg;
}

.site-footer_navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: content-size.$site-width;
  background-color: color.$footer-upper-part-background;

  @media screen and (max-width: content-size.$breakpoint) {
    min-width: auto;
  }
}

.site-footer .global-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  li {
    width: 25%;
    height: 160px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: all 0.3s ease;

    &.structure-facilities {
      background-image: url('../images/common/footer/navigation/structure-facilities.jpg');
    }
    &.common-facilities {
      background-image: url('../images/common/footer/navigation/common-facilities.jpg');
    }
    &.management-association {
      background-image: url('../images/common/footer/navigation/management-association.jpg');
    }
    &.disaster-prevention {
      background-image: url('../images/common/footer/navigation/disaster-prevention.jpg');
    }
    &.news {
      background-image: url('../images/common/footer/navigation/news.jpg');
    }
    &.imagination-land {
      background-image: url('../images/common/footer/navigation/imagination-land.jpg');
    }
    &.gallery-cg {
      background-image: url('../images/common/footer/navigation/gallery.jpg');
    }
    &.for-residents {
      background-image: url('../images/common/footer/navigation/links.jpg');
    }

    @media screen and (max-width: content-size.$breakpoint) {
      background-size: cover;
    }

    &:hover {
      background-size: 105%;

      @media screen and (max-width: content-size.$breakpoint) {
        background-size: cover;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-family: font.$heading-font-family;
      font-size: font.$footer-nav-size;
      color: color.$white;
      text-decoration: none;

      .menu-item-description {
        display: none;
      }
    }
  }

  @media screen and (max-width: content-size.$breakpoint) {
    li {
      width: 50%;
      height: 100px;

      a {
        font-size: font.$footer-nav-sp-size;
      }
    }
  }
}

.site-footer_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 32px 0;

  @media screen and (max-width: content-size.$breakpoint) {
    padding: 16px 0;
  }

  a {
    display: flex;
  }

  img {
    width: 430px;
    height: auto;
    aspect-ratio: 430/133;

    @media screen and (max-width: content-size.$breakpoint) {
      width: 200px;
    }
  }
}

.site-footer_banner-area {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 56px 0 8px;

  @media screen and (max-width: content-size.$breakpoint) {
    gap: 16px;
    padding: 28px 0 0;
  }

  a img {
    width: 300px;
    height: auto;
    aspect-ratio: 3/1;

    @media screen and (max-width: content-size.$breakpoint) {
      width: 150px;
    }
  }
}

.site-footer_copyright {
  padding-bottom: 16px;
  font-family: font.$heading-font-family;
  font-size: font.$footer-copyright-size;
  color: color.$footer-text;

  @media screen and (max-width: content-size.$breakpoint) {
    padding-bottom: 8px;
    font-size: font.$footer-copyright-sp-size;
  }
}
