@use '../variables/color' as color;
@use '../variables/font' as font;
@use '../variables/content-size' as content-size;

@mixin slider-kv {
  &.slick-slider {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;

    .slick-list {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 1600px;
      max-width: 100vw;
      margin-top: -56px;
      transform: translate(-50%, -50%);

      @media screen and (max-width: content-size.$breakpoint) {
        position: relative;
        top: 0;
        left: 0;
        min-width: auto;
      }
    }

    .slick-dots {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: flex;
      gap: 8px;
      justify-content: center;
      width: 100%;
      padding: 24px 0;
      background-color: color.$white;
      transform: translateX(-50%);

      @media screen and (max-width: content-size.$breakpoint) {
        padding: 8px 0;
      }

      li {
        width: 8px;
        height: 8px;
        line-height: 0;

        &.slick-active button {
          background: color.$gold;
        }

        button {
          width: 8px;
          height: 8px;
          padding: 0;
          font-size: 0;
          background: color.$light-gray;
          border-radius: 50%;
        }
      }
    }
  }

  @media screen and (max-width: content-size.$breakpoint) {
    &.slick-slider {
      height: calc(100vh - 64px);

      @media screen and (max-width: content-size.$breakpoint) {
        height: 100%;
      }

      .slick-list {
        top: 0;
        margin-top: 0;
        transform: translateX(-50%);

        @media screen and (max-width: content-size.$breakpoint) {
          min-width: content-size.$min-width-sp;
          margin-top: -120px;
          transform: none;
        }

        img {
          width: 100%;
          max-width: 100%;
          height: calc(100vh - 64px);
          max-height: 100%;
          margin: auto;
          object-fit: cover;

          @media screen and (max-width: content-size.$breakpoint) {
            height: auto;
          }
        }
      }
    }
  }
}

@mixin slider-multiple {
  &.slick-slider {
    position: relative;
    width: 100%;
    margin: 0 -12px;

    .arrow-prev,
    .arrow-next {
      position: absolute;
      top: 50%;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      transform: translateY(-50%);

      &:not([aria-disabled='true']):hover {
        background-color: color.$light-gold;
      }

      &[aria-disabled='true'] {
        opacity: 0.3;
      }
    }

    .arrow-prev {
      left: -80px;
      background: url('../images/common/slider/arrow-left-gold.svg') no-repeat center center;
      background-size: contain;
    }

    .arrow-next {
      right: -80px;
      background: url('../images/common/slider/arrow-right-gold.svg') no-repeat center center;
      background-size: contain;
    }
  }

  .slick-list {
    padding: 12px 0 !important; /* slickのスタイルを上書き */
  }

  .slick-slide {
    margin: 0 6px;
  }
}

@mixin slider-gallery {
  width: 100%;

  .slider-photo {
    width: 100%;

    .arrow-prev,
    .arrow-next {
      position: absolute;
      top: 50%;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      transform: translateY(-50%);

      &:not([aria-disabled='true']):hover {
        background-color: color.$light-blue;
      }

      &[aria-disabled='true'] {
        opacity: 0.3;
      }
    }

    .arrow-prev {
      left: -80px;
      background: url('../images/common/slider/arrow-left-blue.svg') no-repeat center center;
      background-size: contain;
    }

    .arrow-next {
      right: -80px;
      background: url('../images/common/slider/arrow-right-blue.svg') no-repeat center center;
      background-size: contain;
    }

    .slide {
      position: relative;
    }

    .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 8px 0;
      color: color.$white;
      text-align: center;
      background: color.$caption-background;
    }
  }

  .slider-gallery_nav {
    width: 100%;
    margin-top: 8px;

    .slick-list {
      width: 100%;
      height: 80px;
    }

    .slick-track {
      min-width: 100%;

      height: 80px;

      transform: unset !important;
    }

    .slick-slide {
      width: 116px !important;
      height: 80px !important;
      margin: 0 5px;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .slick-current {
      img {
        filter: brightness(100%);
      }
    }

    img {
      object-fit: cover;
      filter: brightness(60%);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  @media screen and (max-width: content-size.$breakpoint) {
    width: 100vw;
    height: fit-content;

    .slider-photo {
      width: 100vw;
      height: fit-content;

      .arrow-prev,
      .arrow-next {
        z-index: 1;
        width: 36px;
        height: 36px;
      }

      .arrow-prev {
        left: 8px;
      }

      .arrow-next {
        right: 8px;
      }

      .slide {
        img {
          width: 100%;
          height: fit-content;
        }
      }

      .caption {
        padding: 4px 0;
        font-size: font.$notice-sp-size;
      }
    }

    .slider-gallery_nav {
      width: 100%;
      margin-top: 1px;

      .slick-slide {
        height: 52px !important;
        margin: 0;
      }

      .slick-list {
        width: 100%;
        height: 70px;
      }

      .slick-track {
        display: flex;
        min-width: 100%;
        height: 70px;
      }

      img {
        height: 70px;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
  }
}

.kv-section.index {
  opacity: 0;
  transition: opacity 0.3s linear;

  &.slick-init {
    opacity: 1;
  }
}
