@use '../variables/color' as color;
@use '../variables/font' as font;
@use '../variables/content-size' as content-size;

@use '../common/section' as section;
@use '../common/heading' as heading;
@use '../common/key-value' as key-value;

.for-residents-section {
  @include section.base($padding: 40px 0 80px, $gap: 40px);
}

.for-residents-group-section {
  @include section.base($padding: 0);
}

.for-residents-group_heading {
  margin-bottom: 40px;
  text-align: center;
  @include heading.h1(color.$blue);
  @include heading.add-border;
}

// .for-residents-field {
//   @include key-value.vertical;
//   .key {
//     color: color.$blue !important;
//   }
// }

.for-residents-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
}

.for-residents-field {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .key {
    width: fit-content;
    min-width: 160px;
    padding: 0 8px;
    color: color.$white;
    text-align: center;
    background-color: color.$blue;

    @media screen and (max-width: content-size.$breakpoint) {
      width: 100%;
      padding: 0;
    }
  }
}

@media screen and (max-width: content-size.$breakpoint) {
  .for-residents-section {
    padding-top: 0;
  }

  .for-residents-group-section {
    padding: 0;
  }

  .for-residents-group_heading {
  }

  .for-residents-field {
  }
}
