@use '../variables/color' as color;
@use '../variables/font' as font;
@use '../variables/content-size' as content-size;

@use '../common/section' as section;
@use '../common/heading' as heading;
@use '../common/paragraph' as paragraph;

@import 'lightbox-card';

.gallery-section,
.cg-section {
  @include section.base($padding: 40px 0 80px);
}

.gallery_heading,
.cg_heading {
  @include heading.h1(color.$blue);
}

.gallery_heading {
  position: relative;
  width: 100%;
  text-align: center;

  &::before {
    position: absolute;
    top: -34px;
    left: 124px;
    width: 126px;
    aspect-ratio: 126/129;
    content: '';
    background: url(../images/gallery-cg/header/bg_01.png) no-repeat;
    background-size: 100% auto;

    @media screen and (max-width: content-size.$breakpoint) {
      top: -20px;
      left: 0;
      width: 64px;
    }
  }

  &::after {
    position: absolute;
    right: 130px;
    width: 144px;
    aspect-ratio: 144/44;
    content: '';
    background: url(../images/gallery-cg/header/bg_02.png) no-repeat;
    background-size: 100% auto;

    @media screen and (max-width: content-size.$breakpoint) {
      right: 0;
      width: 72px;
    }
  }
}

.gallery-group,
.cg-group {
  @include section.base($padding: 0 0 40px);
}

.gallery-group {
  &:first-of-type {
    .gallery {
      &:after {
        content: '※当サイトに掲載の写真・CGなどの無断転載はお控えください。';
      }
    }
  }
}

.gallery-group_heading,
.cg-group_heading {
  @include heading.h2(color.$blue);
  @include heading.add-border;

  &:empty {
    display: none;
  }
}

.gallery,
.cg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px 39px;
  width: 100%;
  margin-top: 40px;
}

@media screen and (max-width: content-size.$breakpoint) {
  .gallery-section,
  .cg-section {
    padding-top: 0;
  }

  .gallery_heading,
  .cg_heading {
  }

  .gallery-group,
  .cg-group {
    padding: 0;
  }

  .gallery-group_heading,
  .cg-group_heading {
  }

  .gallery,
  .cg {
    flex-wrap: wrap;
    gap: 12px;
  }
}
