@use '../variables/color' as color;
@use '../variables/font' as font;
@use '../variables/content-size' as content-size;

@use 'sass:math';

@use '../common/heading' as heading;
@use '../common/section' as section;
@use '../common/paragraph' as paragraph;
@use '../common/animation' as animation;
@use '../common/decoration' as decoration;

.concept-section {
  @include section.base($padding: 0, $sp-padding: 0 0 120px);
  overflow: hidden;
  background-color: color.$white;
}

.concept_heading {
  position: absolute;
  right: 0;
  bottom: 120px;

  img {
    opacity: 0;
  }

  &.animation-start img {
    @include animation.fadein($delay: 100ms);
  }

  @media screen and (max-width: content-size.$breakpoint) {
    top: 120px;
    left: -8px;
    width: 320px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.concept_point {
  position: relative;
  z-index: 1;
  max-width: 100%;
  @include section.base($padding: 130px 0);

  &:nth-child(even) {
    background-color: color.$light-blue;
  }

  &.concept_point1 {
    padding-top: 0;
    padding-bottom: 86px;

    @media screen and (max-width: content-size.$breakpoint) {
      z-index: 2;
      padding: 0;
    }
  }

  &.concept_point2 {
    padding-top: 46px;
    padding-bottom: 270px;

    @media screen and (max-width: content-size.$breakpoint) {
      padding-top: 0;
      padding-bottom: 200px;
    }
  }

  &.concept_point3 {
    padding-bottom: 64px;

    @media screen and (max-width: content-size.$breakpoint) {
      padding-top: 0;
      padding-bottom: 80px;
    }
  }

  &.concept_point4 {
    padding-top: 64px;

    @media screen and (max-width: content-size.$breakpoint) {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
}

.concept_point_inner {
  position: relative;
  width: content-size.$site-width;

  /* TODO: 仮置きのため要調整 */
  min-height: 800px;
  margin: 0 auto;

  [class*='concept_point2'] & {
    margin-top: 24px;
  }

  @media screen and (max-width: content-size.$breakpoint) {
    //max-width: content-size.$min-width-sp;
    min-height: auto;

    [class*='concept_point1'] & {
      height: calc(730px / 2);
    }

    [class*='concept_point2'] & {
      padding-top: calc(500 / 750 * 100vw);
      // height: calc(968px / 2);
      margin: 0;
    }

    [class*='concept_point3'] & {
      padding-top: calc(720 / 750 * 100vw);
    }

    [class*='concept_point4'] & {
      padding-top: calc(480 / 750 * 100vw);
    }
  }
}

.concept_point_description {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;

  [class*='concept_point2'] & {
    width: 710px;
    margin: 0 0 auto auto;
  }

  [class*='concept_point3'] & {
    margin: 20px auto auto 46px;
  }

  [class*='concept_point4'] & {
    width: 700px;
    margin: 0 0 auto auto;
  }

  @media screen and (max-width: content-size.$breakpoint) {
    [class*='concept_point2'] & {
      width: 100%;
      margin: auto 0 0;
      text-align: center;
    }

    [class*='concept_point3'] & {
      width: 100%;
      margin: auto 0 0;
      text-align: center;
    }

    [class*='concept_point4'] & {
      width: 100%;
      margin: auto 0 0;
      text-align: center;
    }
  }
}

.concept_point_heading {
  @include heading.h1($color: color.$blue);
}

.concept_point_detail {
  @include paragraph.base($color: color.$blue);
}

.photo {
  opacity: 0;

  [data-intersected='true'] & {
    &:nth-child(1) {
      @include animation.expand-in($delay: 100ms);
    }
    &:nth-child(2) {
      @include animation.expand-in($delay: 150ms);
    }
    &:nth-child(3) {
      @include animation.expand-in($delay: 200ms);
    }
    &:nth-child(4) {
      @include animation.expand-in($delay: 250ms);
    }
  }

  [class*='concept_point1'] & {
    &:nth-child(1) {
      position: absolute;
      top: 24px;
      left: 45px;
    }
    &:nth-child(2) {
      position: absolute;
      bottom: 20px;
      left: 392px;
    }
    &:nth-child(3) {
      position: absolute;
      top: 24px;
      right: 0px;
    }
  }
  [class*='concept_point2'] & {
    &:nth-child(1) {
      position: absolute;
      top: -60px;
      left: -172px;
    }

    &:nth-child(2) {
      position: absolute;
      bottom: 40px;
      left: 570px;
    }

    &:nth-child(3) {
      position: absolute;
      bottom: 0;
      left: 912px;
    }
  }
  [class*='concept_point3'] & {
    &:nth-child(1) {
      position: absolute;
      top: -260px;
      left: 0px;
    }

    &:nth-child(2) {
      position: absolute;
      bottom: 124px;
      left: 46px;
    }

    &:nth-child(3) {
      position: absolute;
      bottom: 0;
      left: 380px;
    }

    &:nth-child(4) {
      position: absolute;
      top: -40px;
      right: -322px;
    }
  }
  [class*='concept_point4'] & {
    &:nth-child(1) {
      position: absolute;
      top: 80px;
      left: -220px;
    }

    &:nth-child(2) {
      position: absolute;
      bottom: -76px;
      left: 594px;
    }

    &:nth-child(3) {
      position: absolute;
      bottom: 0;
      left: 948px;
    }
  }
  @media screen and (max-width: content-size.$breakpoint) {
    [class*='concept_point1'] & {
      &:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        width: 106px;
        height: 188px;
      }
      &:nth-child(2) {
        position: absolute;
        bottom: 32px;
        left: 122px;
        width: 106px;
        height: 188px;
      }
      &:nth-child(3) {
        position: absolute;
        top: -86px;
        right: -1 * content-size.$cotent-side-sp;
        width: 230px;
        height: 190px;
      }
    }
    [class*='concept_point2'] & {
      &:nth-child(1) {
        position: absolute;
        top: 0;
        left: -1 * content-size.$cotent-side-sp;
        width: calc(355 / 750 * 100vw);
        aspect-ratio: 1/1;
      }

      &:nth-child(2) {
        position: absolute;
        bottom: calc(220 / 750 * -100vw);
        left: calc(458 / 750 * 100vw);
        width: calc(198 / 750 * 100vw);
        aspect-ratio: 1/1;
      }

      &:nth-child(3) {
        position: absolute;
        top: calc(130 / 750 * 100vw);
        right: auto;
        bottom: auto;
        left: calc(345 / 750 * 100vw);
        width: calc(245 / 750 * 100vw);
        aspect-ratio: 245/334;
      }
    }
    [class*='concept_point3'] & {
      &:nth-child(1) {
        position: absolute;
        top: 0px;
        left: -1 * content-size.$cotent-side-sp;
        width: calc(440 / 750 * 100vw);
        aspect-ratio: 440/190;
      }

      &:nth-child(2) {
        position: absolute;
        top: calc(230 / 750 * 100vw);
        bottom: auto;
        left: calc(12 / 750 * 100vw);
        width: calc(240 / 750 * 100vw);
        aspect-ratio: 240/178;
      }

      &:nth-child(3) {
        position: absolute;
        top: calc(450 / 750 * 100vw);
        bottom: auto;
        left: -1 * content-size.$cotent-side-sp;
        width: calc(205 / 750 * 100vw);
        aspect-ratio: 1/1;
      }

      &:nth-child(4) {
        position: absolute;
        top: calc(220 / 750 * 100vw);
        right: calc(140 / 750 * -100vw);
        width: calc(513 / 750 * 100vw);
        aspect-ratio: 513/417;
      }
    }

    [class*='concept_point4'] & {
      &:nth-child(1) {
        top: 0;
        left: -1 * content-size.$cotent-side-sp;
        width: calc(362 / 750 * 100vw);
        aspect-ratio: 362/348;
      }

      &:nth-child(2) {
        top: calc(120 / 750 * 100vw);
        bottom: auto;
        left: calc(357 / 750 * 100vw);
        width: calc(159 / 750 * 100vw);
        aspect-ratio: 159/294;
      }

      &:nth-child(3) {
        top: 24px;
        bottom: auto;
        left: calc(543 / 750 * 100vw);
        width: calc(159 / 750 * 100vw);
        aspect-ratio: 159/294;
      }
    }
  }
}
