@use '../variables/color' as color;
@use '../variables/font' as font;
@use '../variables/content-size' as content-size;

@use '../common/heading' as heading;
@use '../common/section' as section;
@use '../common/decoration' as decoration;
@use '../common/button' as button;
@use '../common/shadow' as shadow;
@use '../common/paragraph' as paragraph;
@use '../common/notice' as notice;
@use '../common/slick' as slick;
@use '../common/news-card' as news-card;
@use '../common/animation' as animation;

.recent-news-section {
  @include section.base($padding: 80px 0 64px, $sp-padding: 0, $gap: 16px, $sp-gap: 24px);
  background-color: color.$white;

  &:after {
    position: absolute;
    bottom: -120px;
    left: 0;
    width: 100%;
    height: 120px;
    content: '';
    background: linear-gradient(color.$white, transparent);
  }
}

.recent-news-section_inner {
  position: relative;

  @media screen and (max-width: content-size.$breakpoint) {
    padding-bottom: 12px;
  }

  &::before {
    position: absolute;
    top: -100px;
    left: 50%;
    width: 1px;
    height: 100px;
    content: '';
    background-color: color.$copper;
    transform-origin: left top;

    @include animation.dripping;

    @media screen and (max-width: content-size.$breakpoint) {
      top: -50px;
      height: 50px;
    }
  }
}

.recent-news_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  @include heading.top-news-heading($color: color.$copper);
  @include decoration.kirakira('top', 'left');

  small {
    font-family: font.$base-font-family;
    font-size: font.$paragraph-size;
  }

  @media screen and (max-width: content-size.$breakpoint) {
    small {
      font-size: font.$paragraph-sp-size;
    }
  }
}

.recent-news_slider {
  position: relative;
  width: 100%;
}

.news-card {
  @include news-card.card-view;

  @media screen and (max-width: content-size.$breakpoint) {
    width: calc((100% - 16px) / 2);

    &:nth-child(n + 5) {
      display: none;
    }
  }
}

.slider_card-list {
  @include slick.slider-multiple;

  .inview_item & {
    opacity: 0;
    transition: opacity 1s 0.2s cubic-bezier(0.42, 0.2, 0.16, 1), transform 1s 0.2s cubic-bezier(0.42, 0.2, 0.16, 1);
    transform: translate(0, 30px);

    @media screen and (max-width: content-size.$breakpoint) {
      display: flex;
      flex-direction: column;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  [data-intersected='true'] & {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.recent-news_button {
  @include button.design;
}
