@use '../variables/color' as color;
@use '../variables/font' as font;
@use '../variables/content-size' as content-size;

@use '../common/section' as section;
@use '../common/button' as button;

.page-anchor-section {
  position: relative;
  background-color: color.$light-blue;

  @include section.base($padding: 0 0 42px);

  &:after {
    bottom: -65px;
    left: 0;
    transform: scale(1, -1);
  }
}

.page-anchor-section_inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-anchor_button {
  text-shadow: 0 0 2px rgba(color.$blue, 0.8);
  background: url('../images/structure-facilities/anchor-button-bg.jpg') no-repeat center center;
  @include button.base;
}

@media screen and (max-width: content-size.$breakpoint) {
  .page-anchor-section {
    padding: 8px 0 24px;
  }

  .page-anchor-section_inner {
    gap: 8px;
  }

  .page-anchor_button {
    height: 30px;
    font-size: 12px;
    background-position: right center;
    border-radius: 4px;
  }
}
