@use '../variables/color' as color;
@use '../variables/font' as font;
@use '../variables/content-size' as content-size;

@use '../common/heading' as heading;
@use '../common/section' as section;
@use '../common/paragraph' as paragraph;
@use '../common/decoration' as decoration;

.activity-introduction-section {
  @include section.base($sp-padding: 0 0 64px);
  position: relative;
  padding-top: 0;
}

.activity-introduction_heading {
  @include heading.h1(color.$blue);
  @include heading.add-border;
}

.activity-introduction_detail {
  @include paragraph.base();
}

.activity-introduction-card-list {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
}

.activity-introduction-card {
  display: flex;
  flex-direction: column;
  width: 306px;
  background-color: color.$blue;
}

.activity-introduction-card_thumbnail {
}

.activity-introduction-card_title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  padding: 16px;
  font-family: font.$heading-font-family;
  line-height: 1.5;
  color: color.$white;
  text-align: center;

  @media screen and (max-width: content-size.$breakpoint) {
    min-height: 32px;
  }
}

@media screen and (max-width: content-size.$breakpoint) {
  .activity-introduction-card-list {
    flex-direction: column;
  }

  .activity-introduction-card {
    width: 100%;

    img {
      width: 100%;
      aspect-ratio: 670/280;
      object-fit: cover;
    }
  }
}

.activity-training_heading {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  @include heading.h3(color.$blue);
}

.activity-training-list {
  width: 100%;

  ul {
    border-top: 1px solid color.$blue;
  }
}

.activity-training-field {
  display: flex;
  width: 100%;
  border-bottom: 1px solid color.$blue;

  .key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    min-width: 120px;
    padding: 12px;
    color: color.$black;
    text-align: center;

    @media screen and (max-width: content-size.$breakpoint) {
      min-width: calc(240 / 750 * 100%);
      padding: calc(16 / 750 * 100%);
    }
  }

  .value {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
    word-break: break-all;

    @media screen and (max-width: content-size.$breakpoint) {
      padding: calc(16 / 750 * 100%);
    }

    span {
      display: flex;

      &:before {
        display: block;
        content: '※';
      }
      font-size: font.$notice-size;
      line-height: 16px;
    }
  }
}
