$white: #fff;
$black: #000;
$dark-gray: #222;
$gray: #777;
$light-gray: #d9d9d9;
$blue: #2775a6;
$light-blue: #e2f0f3;
$copper: #7f5000;
$gold: #d2bb3e;
$light-gold: #faf5e9;

$zone-blue: #38a3b3;
$zone-blue-bg: #e3eef4;
$zone-blue-text: #347ca9;

$zone-yellow: #d19d16;
$zone-yellow-bg: #f4e9d3;
$zone-yellow-text: rgba(#aa8421, 0.8);

$zone-green: #13ab7b;
$zone-green-bg: rgba(#daeee8, 0.8);
$zone-green-text: rgba(#349677, 0.8);

$zone-purple: #b986bb;
$zone-purple-bg: rgba(#f2e9f2, 0.8);
$zone-purple-text: rgba(#804883, 0.8);

$zone-pink: #ed857d;
$zone-pink-bg: rgba(#fff3f2, 0.8);
$zone-pink-text: rgba(#ff7070, 0.8);

$legend-blue: #eaf9f9;

$header-background: rgba($black, 0.5);
$header-panel-background: rgba($white, 0.95);
$header-text: $white;
$footer-bg: #d5eaef;
$footer-upper-part-background: $white;
$footer-lower-part-background: $blue;
$footer-text: #7a7d6c;

$kv-text: $white;
$card-text: $copper;

$anchor-text: $blue;

$base-text: $dark-gray;
$notice-text: $gray;

$caption-background: rgba($black, 0.45);

$message-overlay: #9fd1e4;
