$white: #fff;
$black: #000;
$dark-gray: #222;
$gray: #777;
$light-gray: #D9D9D9;
$blue: #2775A6;
$light-blue: #E2F0F3;
$copper: #7F5000;
$gold: #D2BB3E;
$light-gold: #FAF5E9;

$zone-blue: #38A3B3;
$zone-blue-bg: #E3EEF4;
$zone-blue-text: #347CA9;

$zone-yellow: #D19D16;
$zone-yellow-bg: #F4E9D3;
$zone-yellow-text: rgba(#AA8421, .8);

$zone-green: #13AB7B;
$zone-green-bg: rgba(#DAEEE8, .8);
$zone-green-text: rgba(#349677, .8);

$zone-purple: #B986BB;
$zone-purple-bg: rgba(#F2E9F2, .8);
$zone-purple-text: rgba(#804883, .8);

$zone-pink: #ED857D;
$zone-pink-bg: rgba(#FFF3F2, .8);
$zone-pink-text: rgba(#FF7070, .8);

$legend-blue: #EAF9F9;

$header-background: rgba($black, .5);
$header-panel-background: rgba($white, .95);
$header-text: $white;
$footer-upper-part-background: $white;
$footer-lower-part-background: $blue;
$footer-text: $white;

$kv-text: $white;
$card-text: $copper;

$anchor-text: $blue;

$base-text: $dark-gray;
$notice-text: $gray;

$caption-background: rgba($black, .45);