$site-width: 1280px;
$max-width: 1600px;
$content-width: 1000px;
$min-width-sp: 375px;
$cotent-side-sp: calc(32 / 750 * 100%);
$content-width-sp: calc(100vw - $cotent-side-sp * 2);

$breakpoint: 430px;
// $breakpoint-header: 1325px;
// $breakpoint-header-min: 1160px;

$breakpoint-header: 1330px;
$breakpoint-header-min: 1190px;
