$heading-font-family: 'Zen Old Mincho', serif;
$base-font-family: 'Noto Sans JP', sans-serif;
$zone-font-family: 'Marck Script', cursive;

$top-news-heading-size: 56px;
$top-news-heading-size-sp: 40px;
$zone-heading1-size: 64px;
$zone-heading1-size-sp: 40px;
$zone-anchor-size: 24px;
$zone-anchor-size-sp: 14px;
$legend-heading1-size: 48px;
$legend-heading1-size-sp: 24px;

$heading1-size: 32px;
$heading2-size: 28px;
$heading3-size: 24px;
$paragraph-size: 16px;
$notice-size: 12px;

$heading1-sp-size: 22px;
$heading2-sp-size: 20px;
$heading3-sp-size: 18px;
$paragraph-sp-size: 14px;
$notice-sp-size: 12px;

$header-nav-main-size: 14px;
$header-nav-sub-size: 10px;
$footer-nav-size: 18px;
$footer-nav-sp-size: 16px;
$footer-copyright-size: 20px;
$footer-copyright-sp-size: 14px;

$kv-catchcopy-size: $heading1-size;
$kv-catchcopy-sp-size: 24px;

$base-line-height: 1.8;
$heading-line-height: 1.5;
$paragraph-line-height: 1.8;
$card-paragraph-line-height: 1.5;
