@use '../variables/color' as color;

@use '../common/heading' as heading;

@import "story-introduction";
@import "zone-anchor";
@import "zone-anchor-list";
@import "zone";
@import "legend";

[class*="imagination-land"] {
  .breadcrumb {
    z-index: 1;

    li + li:before,
    a {
      color: color.$white;
    }
  }

  .zone-container {
    position: relative;
    width: 100vw;
    height: auto;
    margin-top: -64px;
  }
}