@use '../variables/font' as font;
@use '../variables/color' as color;
@use '../variables/content-size' as content-size;

@use '../common/section' as section;
@use '../common/heading' as heading;
@use '../common/paragraph' as paragraph;
@use '../common/notice' as notice;

.story-introduction-section {
  margin-top: -64px;
  background: url('../images/imagination-land/introduction-bg.png') no-repeat center top;
  background-size: cover;
  @include section.base($padding: 80px 0 80px);
}

.story-introduction_heading {
  text-align: center;
  @include heading.h1($color: color.$white);
}

.story-introduction_message {
  @include paragraph.for-card($color: color.$white);
}

.story-introduction_anchor {
  transition: all 0.1s ease;

  &:hover {
    transform: rotate(2deg);
  }
}

.story-introduction_notice {
  margin-top: -40px;
  @include notice.base($color: color.$white);
}

.story-introduction_map {
  position: relative;
  width: 878px;
  height: 517px;
  margin-top: 40px;
  background: url('../images/imagination-land/map.png') no-repeat center center;
  background-size: 100%;

  .zone-anchor {
    position: absolute;
    width: 220px;
    height: 76px;

    &.greeting {
      top: 100px;
      left: 20px;
    }
    &.attractive {
      left: 50px;
      bottom: 130px;
    }
    &.friendship {
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
    &.peaceful {
      bottom: 130px;
      right: 0;
    }
    &.bright {
      top: 120px;
      right: -20px;
    }
  }
}

@media screen and (max-width: content-size.$breakpoint) {
  .story-introduction-section {
  }

  .story-introduction_heading {
  }

  .story-introduction_message {
    margin-top: -24px;
  }

  .story-introduction_anchor {
    width: 320px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  .story-introduction_notice {
    margin-top: -40px;
    @include notice.base($color: color.$white);
  }

  .story-introduction_map {
    position: relative;
    width: 100%;
    height: 234px;
    margin: 160px 0 80px;

    .zone-anchor {
      position: absolute;
      width: 112px;
      height: 112px;
      border-radius: 50%;

      &.greeting {
        top: 0;
        left: 16px;
      }
      &.attractive {
        left: 16px;
        bottom: 0;
      }
      &.friendship {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      &.peaceful {
        bottom: 0;
        right: 16px;
      }
      &.bright {
        top: 0;
        right: 16px;
      }
    }
  }
}