@use '../variables/content-size' as content-size;
@use '../common/heading' as heading;

.zone-anchor-list {
  z-index: 1;
  display: flex;
  gap: 16px;

  &.bottom {
    position: relative;
    padding-bottom: 80px;
    margin-top: 2168px + 100px;

    &::before {
      position: absolute;
      top: -56px;
      left: 50%;
      display: block;
      white-space: nowrap;
      content: '\\　他のゾーンも見てみよう　/';
      transform: translateX(-50%);

      @include heading.h3();
    }
  }

  > .zone-anchor {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }

  @media screen and (max-width: content-size.$breakpoint) {
    flex-wrap: wrap;
    justify-content: center;

    &.middle {
      display: none;
    }

    &.bottom {
      padding-bottom: 0;
      margin-top: 1400px + 100px;

      &::before {
        top: -56px;

        @include heading.h3();
      }
    }

    > .zone-anchor {
      width: 112px;
      height: 112px;
    }
  }
}
